<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd
    ">

    <description>My Dubbo Demo</description>

    <!--服务提供方信息，用于计算依赖关系-->
    <dubbo:application name="dubbo-demo-provider"/>
    <!--dubbo缓存-->
    <!--<dubbo:protocol id="dubbo" name="dubbo" port="20880" threadpool="cache" threads="100"/>-->
    <!--使用zookeeper暴露服务提供地址-->
    <dubbo:registry protocol="zookeeper" address="127.0.0.1:2181" client="zkclient"/>
    <!--提供的服务-->
    <dubbo:service protocol="dubbo" interface="top.jf.demo.api.DemoUserApi" version="1.0" ref="demoUserService"/>

</beans>